# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Database
*.db
*.sqlite3
